{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="bg-light">
    <ul class="nav nav-tabs px-5 pt-4">
        <li class="nav-item">
            <a class="nav-link" href="#">Personal Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Projects Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'adminpage' %}">Report Details</a>
        </li>
    </ul>
</nav>
<div class="container my-3">
    {% if request.user.report %}
    <div class="bg-light p-md-4 p-2">
        <div class="row px-sm-5 my-2">
            <div class="col-4"><strong>Report Name</strong></div>
            <div class="col-8 align-self-center">
                {{request.user.report.project_name}}
            </div>
        </div>
        <div class="row px-sm-5 my-2">
            <div class="col-4"><strong>Report Url</strong></div>
            <div class="col-8 align-self-center">
                <a class="text-break" href="{{request.user.report.upload_report.url}}">{{request.user.report.upload_report.url}}</a>
            </div>
        </div>
        <div class="row px-sm-5 my-2">
            <div class="col-4"><strong>Status</strong></div>
            <div class="col-8 align-self-center">
                {{request.user.report.get_status_display}}
            </div>
        </div>
        {% if request.user.report.status == 'R' %}
        <a class="btn btn-sm btn-dark ml-sm-5 mt-sm-4 mt-2" href="{% url 'reportupdate' %}">Update report</a>
        {% elif request.user.report.status == 'A' and request.user.certificate %}
        <div class="row px-sm-5 my-2">
            <div class="col-4"><strong>Certificate Generated</strong></div>
            <div class="col-8 align-self-center">
                <a href="{{request.user.certificate.certificate_pdf.url}}">Download Certificate</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="mx-auto" style="max-width: 550px;">
    </div>
    {% endif %}
</div>
{% endblock content %}